html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    width: 100%;
    max-height: 450px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-header{
    text-align: center;
    padding: 30px;
}

.question-header{
    display: block;
    text-align: center;
    padding: 20px;
}

.right-anwers{
    display: block;
    text-align: center;
    padding: 20px;
}

.start-quiz-button{
    text-align: center;
    width: fit-content;
    height: 50px;
    border-radius: 10px;
}

.question-text{
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

.buttons-set{
    width: 100%;
    display: flex;
    justify-content: center;
}

.answer-button{
    border: 1px solid red;
    border-radius: 7px;
    cursor: pointer;
    visibility: hidden;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
    transition: 0.2s;
}

.check-answer-button,.next-question-button{
    margin: 10px;
    padding: 10px;
    display: none;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
    border: none;
}
